<p>This project was created by
  <%= link_to 'Tiago Mendonça', 'https://linkedin.com/in/tiagofumo',
              target: '_blank' %>
  as part of his portfolio.</p>
<p>This website is based in the
  <%= link_to 'Sparkfun', 'https://www.sparkfun.com', target: '_blank' %>
  website.
</p>
