<% classes = 'btn-lg' if local_assigns[:large] %>
<button type='button' class='add_to_cart btn btn-primary <%= classes %>'>
  <span class='add_to_cart__text'>
    <span class='glyphicon glyphicon-shopping-cart'></span>
    Add to cart
  </span>
</button>
