<div class='product-listing-item'>
  <%= image_tag listing_item.default_picture(:medium) %>
  <span><%= listing_item.name %></span>
  <span><%= listing_item.price %></span>
  <%= render 'products/add_to_cart' %>
</div>
