<div class='product-listing-item'>
  <%= link_to image_tag(listing_item.primary_picture.url(:medium)),
              listing_item, class: 'product-listing-item__picture' %>
  <span class='product-listing-item__name'>
    <%= link_to listing_item.name, listing_item %>
  </span>
  <h4 class='product-listing-item__price'>
    <%= number_to_currency listing_item.price %>
  </h4>
  <%= render 'products/add_to_cart', product_id: listing_item.id %>
</div>
