<a href='<%= products_path %>' class='new-products-carousel-header'>
  <h4>New Products</h4>
  <h4>See all</h4>
</a>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% 6.times do |i| %>
      <div class='item <%= 'active' if i == 0 %>'>
        <div class='carousel-page-number'>
          <span>
            PAGE <%= i + 1 %> OF 6
          </span>
        </div>
        <div>
          <% list = products[i*4, 4] %>
          <%= render partial: 'products/listing_item', collection: list %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
