<div class='product-listing-top row'>
  <div class='per_page col-sm-5'>
    <form class='form' method='get'>
      <span>Showing</span>
      <input type='text' name='per_page'
             class='per_page_field'
             value='<%= @per_page %>' />
      <span>per page</span>
      <input type='submit' value='update' />
    </form>
  </div>
  <%= will_paginate @products, inner_window: 2, outer_window: 2 %>
</div>
<div class='row'>
  <%= render partial: 'products/listing_item', collection: @products %>
</div>
<div class='product-listing-footer row'>
  <%= will_paginate @products, inner_window: 2, outer_window: 2 %>
</div>
