<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Github</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Wish List</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="search">
          <span class="glyphicon glyphicon-search"></span>
          <input placeholder="Search...">
        </div>
      </li>
    </ul>
  </div>
</nav>
