<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Github',
                      'https://github.com/tiagofumo/rails-online-store-sample',
                      target: '_blank' %></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Wish List</a></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="search">
          <span class="glyphicon glyphicon-search"></span>
          <input placeholder="Search...">
        </div>
      </li>
    </ul>
  </div>
</nav>
